@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.nbtn {
    margin: 0.625rem;
    border: none;
    font-size: 1.2rem;
    background: none;
}

.form-control {
    margin-bottom: 1rem;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.rbtn {
    margin-right: 10.25rem;
    margin-left: 1.25rem;
    background: #5AB9EA;
    float: right;
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    height: 2.8rem;
    padding: 0rem 1.35rem;
    border-radius: 1.775rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}


/* .row{
  justify-content: center !important;
  align-items: baseline !important;
} */

.pdos {
    position: relative;
    display: flex;
}

.offer_badge {
    position: absolute;
    top: -42px;
    right: -255px;
}

.cbrow {
    margin-left: -3.8rem;
}

.cntnr {
    height: 20px;
    background-color: #ccc;
    position: relative;
    border-radius: 1.15rem;
    height: 2.3rem;
}

.cntnr .progress-bar {
    position: absolute;
    height: 100%;
    background-color: green;
    border-radius: 1.15rem;
    height: 2.3rem;
}

.error-text {
    color: #b40e0e;
}